
#section-4 #button4 {
  overflow: hidden;
}
.section-button {
  float: left;
  height: 50%;
  display: flex;
  -webkit-display: flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  margin:20px;
}

.button {
  border: none;
  cursor: pointer;
  padding: 20px 30px;
  position: relative;
  float: left;
}
.button .text {
  position: relative;
  z-index: 100;
  font-size: 2em;
}

#section-1 #button1 .text {
  color: #5664aa;
  -webkit-transition: color .5s linear;
  transition: color .5s linear;
}
#section-1 #button1 .border, #section-1 #button1 .top, #section-1 #button1 .left, #section-1 #button1 .bottom, #section-1 #button1 .right {
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  background-color: #0a1827;
  position: absolute;
}
#section-1 #button1 .top, #section-1 #button1 .left {
  left: 0;
  top: 0;
}
#section-1 #button1 .bottom, #section-1 #button1 .right {
  right: 0;
  bottom: 0;
}
#section-1 #button1 .right, #section-1 #button1 .left {
  width: 2px;
  height: 0%;
}
#section-1 #button1 .bottom, #section-1 #button1 .top {
  height: 2px;
  width: 0%;
}
#section-1 #button1::after {
  content: '';
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  background-color: #0a1827;
}
#section-1 #button1:hover .text {
  color: #90afc5;
}
#section-1 #button1:hover > .bottom, #section-1 #button1:hover .top {
  width: 100%;
}
#section-1 #button1:hover > .right, #section-1 #button1:hover .left {
  height: 100%;
}
#section-1 #button1:hover::after {
  width: 100%;
  height: 100%;
  opacity: 1;
}


#section-4 #button4 .text {
  color: #5664aa;
  transition: all .5s linear;
  -webkit-transition: all .5s linear;
}
#section-4 #button4::after {
  content: '';
  position: absolute;
  transition: top .5s ease-in .5s, width .5s ease-out, height .5s ease-out;
  -webkit-transition: top .5s ease-in .5s, width .5s ease-out, height .5s ease-out;
  left: 50%;
  top: -50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #16253d;
}
#section-4 #button4:hover .text {
  color: #90afc5;
  transition: color .5s linear .5s;
  -webkit-transition: color .5s linear .5s;
}
#section-4 #button4:hover::after {
  transition: top .5s ease-in, width .5s ease-out .5s, height .5s ease-out .5s;
  -webkit-transition: top .5s ease-in, width .5s ease-out .5s, height .5s ease-out .5s;
  top: 50%;
  width: 400px;
  height: 400px;
}



@media (max-height: 300px), (max-width: 650px) {
  .section-button {
    height: 100%;
    width: 100%;
    float: none;
  }
}