
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

header {
	position: relative;
	max-width: 960px;
	height: 200px;
	margin: 0 auto;
}
body{
  font-size: 15px;
  background:#ffffff; 
  margin-left :0px;
  margin-right: 0px;
  margin-top:-20px;
  font-family: 'Alegreya Sans SC', sans-serif;  
}

.light{
  color: coral;
  background: linear-gradient(transparent 60%, #ffff66 60%);
  font-size: 130%;
}

.main{
  width:900px;
  border: double 5px #1b2450;
  background: #f3f2f3;
  color: #1b2450;
  margin-left: auto;
  margin-right: auto;
} 

.foot{
  color: #ffffff;
  bottom:0px;
  left:0px;
  width:100%;
  height:240px; 

}
section{
  position: relative;
	max-width: 960px;
	margin: 0 auto;
}

.buttons{
  margin:30px;
  float: right;
}

.linkbuttom{
  position: fixed;
	right: 25px;
	bottom: 25px;
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9)
}
.parallax-container.top{
  min-height: 850px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9)
}

.section.no-pad-bot{
  position: absolute;
  top: 0;
  left: 0;
  width:1400px;
  margin-top: 150px;
}
.section.no-pad-bot2{
  position: absolute;
  top: 700px;
  width:100%;
}
.undericon{
  text-align: center
}

.title{
  text-align: center;
  color: #5664aa;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight:bold;
}
.row.center{
  font-family: 'Alegreya Sans SC', sans-serif; 
}

.left-container{
  float:left;
}
.right-container{
  margin-top: 50px;
}

.titlezone{
  margin-top:50px;
}

.nav{
  margin-top:100px;
}

.mainflame{
  position: relative;
}

ul.foo {
  width: 700px;
  padding:0;
  font-size:0px;
}
ul.foo li {
  display: inline-block;
  text-align: center;
  font-size:25px;
}
ul.foo li a{
  color:#5664aa;
  margin:30px;
}
ul.foofab li {
  width:118px;
  display: inline-block;
  text-align: center;
  font-size:25px;
}
.contact{
  margin-left: auto;
  left: auto;
  right: auto;
  text-align: center
}
.links{
  margin-left: auto;
  left: auto;
  right: auto;
  text-align: center
}

.profile{
  vertical-align: middle;
  text-align: center
}

.profile_name{
  vertical-align: middle;
  text-align: center
}
.profile_icon{
  vertical-align: middle;
  text-align: center
}

.header{
  color: #5664aa!important;;
  text-align: center;
}  
.basepct{
  top:10px;
}

.githublink{color: #333}

.me{
  display: flex;
  width:100%;
}
.meimg{
  width:30%;
}
.meabout{
  width:70%;
}
.footfoot{
  text-align: center;
}

.top-header__deco { position: absolute; top: 50%; left: 50%; width: 0; height: 0; margin-top: -130px; margin-left: -200px; border-top: 420px #ffee6b solid; border-right: 242px transparent solid; border-left: 242px transparent solid; opacity: 0; animation: topdecofadein 1s ease-in-out; -ms-animation: topdecofadein 1s ease-in-out; -moz-animation: topdecofadein 1s ease-in-out; -webkit-animation: topdecofadein 1s ease-in-out; animation-fill-mode: both; z-index: -1; }

/* ウィンドウ幅が0〜479pxの場合に適用するCSS */
@media screen and ( max-width:479px )
{
  body{
    font-size: 15px;
    background: #f3f2f3;
  }
  .left-container{
    float:none;
    text-align: center;
  }
	.parallax-container .parallax img {
    width: 70%;
    min-height: 0%; 
    margin-bottom: -100px;
  }
  .section {
    padding-top: 0rem;
  }
  .br-sp { display:block; }
  
  .me{
    ;
  }

  .meimg{
    width: 96%;
  }
  .meabout{
    width:96%;
  }

  main{
    padding: 20px;
  }
}


