
body{
  color: #ffffff;
  font-size: 20px;
  font-family:Meiryo;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  text-align: center;
}

div{
  background: #00a3a7;
}
.headline{
  text-align: center;
  height: 150px;
  padding: 20px;
  margin: 40px;
}
.headline h2{
  font-size: 15px; 
}
.light{
  color: coral;
  background: linear-gradient(transparent 60%, #ffff66 60%);
  font-size: 130%;
}
.homenav{
  line-height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: table;
  text-align:center
}
.homenav li{
  display:table-cell;
}
.homenav a{
  width:300px;
  height:80px;
  display:inline-block;
  text-align: center;
  background: #00a3a7;
  color: #ffffff;
  border-right: 3px solid #ffffff;
}
.homenav li:first-child a{
  border-left:3px solid #ffffff;
}

.main{
  width:900px;
  border: double 5px #4ec4d3;
  background: #f0f8ff;
  color: #00a3a7;
  margin-left: auto;
  margin-right: auto;
} 

.foot{
  text-align: center;
  padding: 20px;
  margin: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15) inset;
}